<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>API Docs.</title>

  <style>
      body{
          padding: 20px 100px;

      }
    h2, h3{
        font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
        margin-top: 40px;
    }
    code {
        font-family: monospace;
        background: #e0dcdc;
        word-wrap: break-word;
      box-decoration-break: clone;
      padding: .1rem .3rem .2rem;
      border-radius: .2rem;
    }

  </style>
</head>
  <body>
    <div>
      <h2>API Documentation </h2>
      <hr>
      <h3>1. Get a list of cities</h3>
      <code><strong>/cities</strong></code><br>
      <p>
        Request method: GET <br>
        Returns a list of city objects
      </p>
      <code>http://easy-fly.herokuapp.com/cities/</code>
    </div>

    <div>
      <h3>2. Sign up</h3>
      <code><strong>/signup</strong></code> <br>
      <p>
        Request method: POST <br>
        Required URL parameters: <strong>name, email, password</strong>
        <br> Returns a JsonResponse with containing the user_token
      </p>
      <code>http://easy-fly.herokuapp.com/signup?name="bob"&email="bobhitler@gmail.com&password="ihatepasswords123"</code>
    </div>

    <div>
      <h3>3. Log in</h3>
      <code><strong>/login/</strong></code> <br>
      <p>
        Request method: POST <br>
        Required URL parameters: <strong>email, password</strong>
        <br> Returns a JsonResponse with containing the user_token
      </p>
      <code>http://easy-fly.herokuapp.com/login/?email="bobhitler@gmail.com&password="ihatepasswords123"</code>
    </div>

    <div>
      <h3>4. Get All Available Flights</h3>
      <code><strong>/login/</strong></code> <br>
      <p>
        Request method: GET <br>
        Required URL parameter: <strong>auth_token (for authentication)</strong>
      </p>
      <code>http://easy-fly.herokuapp.com/flights/?auth_token=user_token</code>
    </div>


    <div>
      <h3>0. Book a flight</h3>
      <code><strong>/book-flight/</strong></code> <br>
      <p>
        Request method: GET <br>
        Required URL parameter: <strong>flight_id, payment_status, auth_token(for authentication)</strong> <br>
        Returns user's ticket code for the booked flight.
      </p>
      <code>http://easy-fly.herokuapp.com/book-flight/?auth_token=user_token&flight_id=23&payment_status="successful"</code>
    </div>

  <p>More updates coming up</p>

  </body>
</html>